frontend stats
   bind *:1936
   mode http
   stats uri /stats
   stats enable
   stats refresh 10s
   no log

frontend http_front
   bind *:80
   default_backend http_back
   
   # Host-based filtering, use in place of default_backend
   #acl host_test hdr(host) -i test.services.{{ domain }}
   #use_backend http_back if host_test

backend http_back
   #balance roundrobin
   balance leastconn
   # TODO: Re-add the "resolve-opts allow-dup-ip" when discovered why haproxy doesn't identify multiple instances
   #server-template web 10 internal.web.service.{{ domain }} resolvers consul resolve-prefer ipv4 resolve-net 192.168.100.0/24 check
   server-template web 10 _web._tcp.service.{{ domain }} resolvers consul resolve-prefer ipv4 resolve-net 192.168.100.0/24 resolve-opts allow-dup-ip check

resolvers consul
   nameserver consul 127.0.0.1:8600
   accepted_payload_size 8192
   hold valid 5s
