services {
  id = "web"
  name = "web",
  port = 80,
  #address = "{{ external_gateway_ip }}",
  check {
    args = ["curl", "localhost"],
    interval = "3s"
  }
}

#services {
#  id = "web-internal"
#  name = "web_internal",
#  port = 80,
#  address = "{{ internal_ip }}"
#  check {
#    args = ["curl", "localhost"],
#    interval = "3s"
#  },
#}
